

@font-face {
    font-family: 'Instrument Serif';
    src: url('./assets/Fonts/InstrumentSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Instrument Serif';
    src: url('./assets/Fonts/InstrumentSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('./assets/Fonts/ZenKakuGothicNew-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('./assets/Fonts/ZenKakuGothicNew-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Magic Retro';
    src: url('./assets/Fonts/Magic Retro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bright';
    src: url('./assets/Fonts/Bright DEMO.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rosarivo';
    src: url('./assets/Fonts/Rosarivo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --green-light: hsl(97, 18%, 81%);
    --green-medium: hsl(97, 18%, 40%);
    --green-dark: hsl(164, 98%, 16%);
    --orange: hsl(27, 97%, 65%);
    --orange-light: hsl(27, 97%, 70%);
    --brown: hsl(15, 27%, 20%);
    --purple: hsl(241, 30%, 65%);
    --purple-light: hsl(241, 30%, 88%);
    --purple-muddy: hsl(284, 16%, 66%);
    --purple-bold: hsl(256.7, 30.5%, 46.3%);
    --red: hsl(3, 45%, 57%);
    --white: hsl(10, 10%, 88%);
    --cream: hsl(34, 51%, 92%);
    --black: hsl(0, 0%, 25%);

    --ff1: 'Instrument Serif';
    --ff2: 'Zen Kaku Gothic New';
    --ff3: 'Magic Retro';
    --ff4: 'Bright', 'Magic Retro';
    --ff5: 'Rosarivo';

    --hero-h1: 600 clamp(3rem, 5vw, 5rem)/1.2 sans-serif;
    --h1: 600 clamp(2.75rem, 6vw, 3.5rem)/1.2 var(--ff4);
    --hero-h2: 600 clamp(1.75rem, 4vw, 3.5rem)/1.2 sans-serif;
    --h2: 400 2.75rem/1.3 var(--ff4);
    --h3: 600 1.5rem/1.3 sans-serif;
    --p: 400 1.1rem/normal var(--ff2);
    --logo: 600 clamp(1.75rem, 2.5vw, 3rem)/1.2 var(--ff3);
    --nav: 400 1.75rem/1.2 var(--ff4);

    --space-unit: 1rem; 
    --space-xxs:  calc(0.25 * var(--space-unit));/*4px*/     
    --space-xs:   calc(0.5 * var(--space-unit));/*8px*/      
    --space-sm:   calc(0.75 * var(--space-unit));/*12px*/ 
    --space-md:   calc(1.25 * var(--space-unit));/*20px*/ 
    --space-lg:   calc(2 * var(--space-unit));/*32px*/    
    --space-xl:   calc(3.25 * var(--space-unit));/*52px*/ 
    --space-xxl:  calc(5.25 * var(--space-unit));/*84px*/

    --gutter: var(--space-lg); 
    --section-vert-space: var(--space-xxl);
}


html,
body {
    margin: 0;
    padding: 0;
    font: var(--p);
    background-color: var(--green-light);
    color: var(--green-medium);
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body::-webkit-scrollbar {
    display: none;
}

/* font classes */
h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font: var(--h1);
    letter-spacing: 1px;
}

.hero-h1 {
    font: var(--hero-h1);
}

h2 {
    font: var(--h2);
}

.hero-h2 {
    font: var(--hero-h2);
}

h3 {
    font: var(--h3);
}

.logo {
    font: var(--logo);
}

nav {
    font: var(--nav);
}
/* end of fonts */

/* buttons and links */
button,
input,
select,
textarea {
  font: inherit; /* Inherit font-family, size, line-height, weight, etc. */
  color: inherit;
}


a {
    text-decoration: unset;
    color: unset;
    margin-top: var(--space-sm);
}

button,
a {
    cursor: pointer;
    border: none;
}

.fancy-button {
    background-color: var(--green-dark);
    border-radius: 1em;
    font: var(--nav);
    color: white;
    padding: 0.5em 0.5em;
}
.fancy-button:hover {
    color: white;
    background-color: var(--purple-bold);
}

.underline-button {
    background: none;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    font: var(--nav);
}

.square-button {
    padding: 0.3em 0.6em;
    font-style: normal;
    border-radius: 5px;
    background-color: var(--green-medium);
    color: var(--cream);
}
  
/* end of buttons and links */

/* icons */
.give-icon{
    color: var(--red);
    width: 20dvw;
    height: 20dvh;
    display: block;
    margin: var(--space-md) auto;
}

.icon {
    height: 1.75em;
    margin-right: 1em;
}

svg {
    width: 1em;
    height: 1em;
}

/* end of icons */

/* highlights */
.purple-highlight{
    color: var(--purple);
}

.p-bold {
    font-weight: bold;
}

.text-color-animation {
    background: linear-gradient(
      270deg,
      var(--orange),
      var(--purple-bold),
      var(--green-dark),
      var(--purple),
      var(--orange)
    );
    background-size: 1400% 1400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 12s ease infinite;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .h1-shadow{
    text-shadow: 2px 2px var(--green-dark);
}
/* end of highlights */

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-xl);
}

header a {
    text-decoration: none;
    color: var(--green-dark);
    font: var(--nav);
    padding-inline: var(--space-md);
}

.site-logo {
    padding-inline: 0; /*remove header a{} padding*/
    margin-left: var(--gutter);
    margin-right: auto;
    color: var(--green-dark);
    font: var(--logo);
    text-shadow: 3px 3px var(--purple-muddy);
}

header nav {
    margin-right: var(--gutter);
}


/* mobile menu */
.mobile-menu-toggle {
    display: none;
}

@media (max-width: 768px) {

    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* adjust as needed */
        right: 10px;
        background: white;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .mobile-menu.open {
        display: flex;
    }
}

/* end of mobile menu */

/*** HOME PAGE ***/
.hero-container {
    display: flex;
}

.home-hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: var(--section-vert-space);
    padding: var(--space-xl) var(--gutter);
    align-items: flex-start;
}

.home-hero-text .fancy-button {
    align-self: center;
    background-color: var(--purple);
}

.home-hero-container .fancy-button:hover {
    background-color: var(--green-medium);
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home-about-container {
    margin-top: var(--section-vert-space);
    padding-block: var(--section-vert-space);
    padding-inline: var(--gutter);
    text-align: center;
    background: linear-gradient(360deg, 
                hsla(97, 18%, 81%, 1) 0%, 
                hsla(97, 18%, 81%, 1) 85%, 
                hsla(97, 18%, 84%, 1) 100%);
}


.home-stats-container {
    color: var(--cream);
    background: var(--green-dark);
    text-align: center;
    padding-block: var(--section-vert-space);
}

.home-stats-container > h1 {
    color: var(--cream);
    margin-bottom: var(--space-xxl)
}

.home-stats-flex-wrapper>div>div:first-child {
    font: var(--hero-h2);
    line-height: var(--space-xl);
}

.statistic-description{
    color: var(--green-light);
    margin-bottom: var(--space-md);
}

@media (min-width: 1024px) {
    .home-stats-container > h1 {
        padding-bottom: var(--space-lg);
    }

    .home-stats-flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto var(--space-lg);
    }

    .home-stats-flex-wrapper>div {
        position: relative;
        flex: 1;
        text-align: center;
    }

    /* Add dividers to all but the last div */
    .home-stats-flex-wrapper>div:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        width: 1px;
        background-color: white;
        /* Light gray divider */
    }

    .statistic-description{
        margin-bottom: 0;
    }
}

.home-donation-container {
    margin-block: var(--space-xl);
}

.home-donation-flex-wrapper {
    text-align: center;
    margin: var(--section-vert-space) var(--gutter);
}

@media (min-width:1024px) {
    .home-donation-flex-wrapper {
        display: flex;
        text-align: center;
        margin: 0;
    }

    .home-donation-left {
        display: flex;
        background-color: var(--red);
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .give-icon {
        color: var(--white);
    }

    .home-donation-right {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: var(--section-vert-space);
        padding-inline: var(--gutter);
        flex: 1;
        background: linear-gradient(360deg, 
                hsla(97, 18%, 84%, 1) 0%, 
                hsla(97, 18%, 81%, 1) 15%, 
                hsla(97, 18%, 81%, 1) 85%, 
                hsla(97, 18%, 84%, 1) 100%);
    }

    .home-donation-right h1{
        margin-bottom: var(--space-xl);
        font-family: var(--ff4);
        text-shadow: 2px 2px var(--green-dark);
    }

    .home-donation-button {
        display: inline-block;
    }
}


.home-adoption-spotlight-container{
    background-color: var(--green-dark);
    color: var(--cream);
    text-align: center;
    padding: var(--section-vert-space) var(--gutter);
}

.home-adoption-spotlight-left{
    padding-bottom: var(--section-vert-space)
}

.home-adoption-spotlight-container p{
    text-align: start;
}

.home-adoption-spotlight-right img {
    max-width: 100%;
    height: auto;
}


@media (min-width: 1024px) {
    .home-adoption-spotlight-container{
        display: flex;
        align-items: center;
        gap: var(--gutter);
    }

    .home-adoption-spotlight-left{
        padding-bottom: 0;
        flex: 1;
    }

    .home-adoption-spotlight-right {
        flex: 1;
    }
}


/*** ABOUT PAGE ***/
.about-hero-container{
    display: flex;
    flex-direction: row;
    background-color: var(--brown);
    color: var(--cream);
}

.about-hero-text{
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: var(--gutter);
}

.about-page-content {
    margin: var(--section-vert-space) var(--gutter);
}

.about-page-cta {
    background-color: var(--green-dark);
    color: var(--white);
    margin-inline: var(--gutter);
    padding-inline: var(--gutter);
    padding-bottom: var(--space-lg);
    border-radius: 5px;
    box-shadow: 0.5em 0.5em var(--brown)
}

.about-page-cta h2 {
    margin: 0;
    padding-block: var(--space-lg);
}

.about-page-cta .fancy-button {
    background-color: var(--green-medium);
    color: var(--white);
    border-radius: 5px;
}

/*** ANIMALS PAGE ***/
.animal-list-container {
    margin-inline: var(--gutter);
}

.animal-list-container h1 {
    margin-block: var(--space-lg);
    color: var(--green-dark);
}

.animal-list {
    display: grid;
    grid-gap: var(--space-lg);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: dense;
}

.filter-label {
    align-self: center;
    margin: 0;
    font-weight: bold;
}

.animal-list-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-lg);
    gap: var(--space-xs);
}

.cuddly {
    background-color: var(--purple);
    color: var(--cream);
}

.adventurous {
    background-color: var(--brown);
    color: var(--cream);
}

.hardworking {
    background-color: var(--cream);
    color: var(--brown);
}

.animal-tile {
    transition: transform 0.2s ease;
}

.animal-tile:hover {
    transform: translateY(-5px);
  }

.animal-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.animal-info h3{
    margin-bottom: 0;
}

.animal-info p{
    margin-top: var(--space-sm);
    line-height: var(--space-xs);
}

/*** ANIMAL DETAILS PAGE ***/
/*Option 1*/

.animal-details-wrapper {
    background-color: var(--cream);
    margin-inline: var(--space-sm);
    padding: clamp(var(--gutter), var(--space-xl), var(--space-xxl));
    color: var(--dark-green);
    border-radius: 5px;
}

@media (min-width: 768px) {
    .animal-details-wrapper {
      margin-inline: var(--space-xl);
    }
}
  
  @media (min-width: 1024px) {
    .animal-details-wrapper {
      margin-inline: var(--space-xxl);
    }
}

.animal-details-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-details-header {
    color: var(--green-dark);
    margin: 0;
}

.animal-details-hero img {
    border-radius: 5px;
}

.animal-details-info p {
    color: var(--green-dark);
}

.animal-details-info nav {
    font: var(--nav);
    color: var(--green-dark);
    display: flex;
    justify-content: center;
    margin-top: var(--space-md);
}

.animal-details-info nav a:not(:last-child) {
    margin-right: var(--space-lg);
}

.animal-details-wrapper > .fancy-button {
    display: block;
    margin: var(--space-md) auto 0 auto;
  }
  

/*** FOSTER PARENTS PORTAL ***/
/*login page*/
.login-page-left,
.login-page-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.login-page-container {
    margin-inline: var(--gutter);
    color: var(--green-dark);
}

.login-page-left {
    margin-bottom: var(--space-md);
}

@media (min-width: 1024px) {
    .login-page-container {
        display: flex;
        gap: var(--gutter)
    }

    .login-page-left {
        margin-bottom: 0;
    }
}

.login-page-left h1 {
    margin-bottom: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding-block: var(--section-vert-space);
    border: 2px solid var(--green-dark);
    background-color: var(--cream);
    border-radius: 1em;
    box-shadow: 1em 1em var(--green-dark);
    width: 100%
}

.login-form h1 {
    text-align: center;
}

.login-form-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    font-weight: bold;
}

.login-form input {
    display: block;
    margin-bottom: var(--space-md);
    padding: var(--space-xxs);
    border: solid var(--green-dark);
    border-radius: 5px;
    font-weight: normal;
}

.login-button {
    width: 33%;
}

/*foster parents portal*/
.portal-nav {
    display: flex;
    gap: var(--space-lg);
    margin: var(--gutter);
}

.dashboard-container,
.adoptees-wrapper {
    margin-inline: var(--gutter);
}

.dashboard {
    background: hsl(36, 100%, 99%);
    height: 90vh;
    width: 100%;
    display: grid;
    gap: 1.5vw;
    padding: 1vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "aside3 aside3 aside4 aside4 aside5 aside5 ";
}

@media screen and (max-width: 1000px) {
    .dashboard {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "hero   hero   hero   hero"
            "hero   hero   hero   hero"
            "aside2 aside2 aside3 aside3"
            "aside4 aside4 aside5 aside5";
    }
}

@media screen and (max-width: 750px) {
    .dashboard {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "hero   hero   hero"
            "hero   hero   hero"
            "aside2 aside2 aside2"
            "aside3 aside3 aside3"
            "aside4 aside4 aside4"
            "aside5 aside5 aside5";
    }
}

.dashboard > div {
    border: 2px solid #464545;
    border-radius: 5px;
}

.dashboard-item-1 {
    grid-area: hero;
    background-color: hsl(162, 95%, 34%);
}

.dashboard-item-2 {
    grid-area: aside2;
    background-color: hsl(190, 84%, 29%);
}

.dashboard-item-3 {
    grid-area: aside3;
    background-color: hsl(44, 86%, 70%);
}

.dashboard-item-4 {
    grid-area: aside4;
    background-color: hsl(246, 25%, 85%);
}

.dashboard-item-5 {
    grid-area: aside5;
    background-color: hsl(351, 100%, 92%);
}

.adoptees-tile {
    display: flex;
    padding: var(--gutter);
    margin-bottom: var(--gutter);
    background-color: var(--green-medium);
    border-radius: 5px;
    color: var(--cream);
}

.adoptees-tile img {
    border-radius: 5px;
    object-fit: cover;
    margin-right: var(--space-md)
}

.adoptee-details-back-button {
    display: block;
    margin-inline: var(--gutter);
    margin-bottom: var(--space-md);
}

.adoptee-details-wrapper {
    background-color: var(--green-medium);
    color: var(--cream);
    padding: var(--gutter);
    margin-inline: var(--gutter);
    border-radius: 5px;
}

.adoptee-details-hero {
    display: flex;
}

.adoptee-details-hero img {
    border-radius: 5px;
}

.adoptee-details-hero div {
    padding-inline: var(--space-md);
}

.adoptee-details-hero h2 {
    margin-top: 0;
}

.adoptee-details-wrapper a {
    display: inline-block;
    margin-top: var(--space-xl);
    padding-right: var(--space-lg);
}

.health-stat-container {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding-inline: var(--space-sm);
}


/*** DONATION PAGE ***/
.donate-page-wrapper {
    margin-inline: var(--gutter);
}

@media (min-width: 1024px) {
    .donate-page-flex-container {
        display: flex;
        gap: var(--gutter);
    }
}

.donate-content-container,
.donate-form-container {
  flex: 1; 
}

.donate-content-container img {
    width: 100%;
    border-radius: 5px;
}

.donate-content-container h2 {
    color: var(--green-dark);
    margin-top: var(--space-lg);
    margin-bottom: 0;
}

.donate-form-container {
    display: flex;
    justify-content: center;
}

.donation-form {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    border: 2px solid var(--green-medium);
    border-radius: 5px;
    background-color: var(--cream);
    max-width: 750px;
    justify-content: center;
}

.frequency-toggle-container {
    display: flex;
    gap: var(--space-sm);
    margin-bottom: var(--space-lg);
}

.frequency-toggle-container button {
    flex: 1;
    padding: var(--space-sm);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

.frequency-toggle-container button.active {
    background: var(--green-dark);
}

.amount-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-sm);
    margin-bottom: var(--space-xl);
}

.amount-button {
    padding: var(--space-sm);
    border-radius: 5px;
    border: 1px solid var(--green-light);
    background-color: white;
    cursor: pointer;
    font-size: 1.25em;
}

.amount-button.active {
    border: 2px solid var(--green-dark);
    background-color: var(--green-light);
    color: var(--green-dark);
}

.dollar-input-container {
    display: flex;
    overflow: hidden;
}

.dollar-input-container span {
    margin-right: var(--space-xxs);
}

.dollar-input-container:focus-within {
    border: 2px solid var(--green-dark);
    background-color: var(--green-light);
}

.dollar-input-container input:focus {
    background-color: var(--green-light);
}

.other-amount-input {
    border: none;
    outline: none;
}

.other-amount-input::-webkit-inner-spin-button,
.other-amount-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.other-amount-input[type="number"] {
    -moz-appearance: textfield;
}

.donate-input {
    width: 100%;
    border: 1px solid var(--green-light);
    border-radius: 5px;
    padding: var(--space-sm);
    margin-bottom: var(--space-lg);
    background-color: white;
}


.donation-submit-button {
    width: 100%;
    padding: var(--space-sm);
    background-color: var(--green-dark);
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    cursor: not-allowed;
}

.submit-button:disabled {
    background-color: #aaa;
}

.status-message {
    text-align: center;
    margin-top: var(--space-md);
    color: red;
}

/*** FOOTER ***/
footer {
    text-align: center;
    margin-top: var(--space-xl);
}

.newsletter-div {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-block: var(--section-vert-space);
    background-color: var(--green-medium);
    color: var(--cream);
}

footer .site-logo {
    margin: var(--space-md) auto auto;
}

.footer-links{
    display: flex;
    gap: var(--space-sm);
    font-size: 0.85em;
    justify-content: center;
}


@media (min-width: 1024px) {
    .footer-bottom-section {
        display: flex;
        margin-inline: var(--gutter);
        margin-bottom: var(--space-lg);
    }

    .footer-logo-div{
        flex: 1;
    }

    .footer-logo-div .site-logo{
        text-align: left;
    }

    .footer-links {
        flex: 1;
    }

    .social-media-icons {
        flex: 1;
        text-align: end;
    }
}


/***EMBLA LIBRARY CAROUSEL COMPONENT***/
.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 33%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}

.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}

.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
}

.embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.theme-light {
    --brand-primary: rgb(47, 112, 193);
    --brand-secondary: rgb(116, 97, 195);
    --brand-alternative: rgb(19, 120, 134);
    --background-site: rgb(249, 249, 249);
    --background-code: rgb(244, 244, 244);
    --text-body: rgb(54, 49, 61);
    --text-comment: rgb(99, 94, 105);
    --text-high-contrast: rgb(49, 49, 49);
    --text-medium-contrast: rgb(99, 94, 105);
    --text-low-contrast: rgb(116, 109, 118);
    --detail-high-contrast: rgb(192, 192, 192);
    --detail-medium-contrast: rgb(234, 234, 234);
    --detail-low-contrast: rgb(240, 240, 242);
    --admonition-note: rgb(46, 109, 188);
    --admonition-warning: rgb(255, 196, 9);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 47, 112, 193;
    --brand-secondary-rgb-value: 116, 97, 195;
    --brand-alternative-rgb-value: 19, 120, 134;
    --background-site-rgb-value: 249, 249, 249;
    --background-code-rgb-value: 244, 244, 244;
    --text-body-rgb-value: 54, 49, 61;
    --text-comment-rgb-value: 99, 94, 105;
    --text-high-contrast-rgb-value: 49, 49, 49;
    --text-medium-contrast-rgb-value: 99, 94, 105;
    --text-low-contrast-rgb-value: 116, 109, 118;
    --detail-high-contrast-rgb-value: 192, 192, 192;
    --detail-medium-contrast-rgb-value: 234, 234, 234;
    --detail-low-contrast-rgb-value: 240, 240, 242;
    --admonition-note-rgb-value: 46, 109, 188;
    --admonition-warning-rgb-value: 255, 196, 9;
    --admonition-danger-rgb-value: 220, 38, 38;
}

.theme-dark {
    --brand-primary: rgb(138, 180, 248);
    --brand-secondary: rgb(193, 168, 226);
    --brand-alternative: rgb(136, 186, 191);
    --background-site: rgb(0, 0, 0);
    --background-code: rgb(12, 12, 12);
    --text-body: rgb(222, 222, 222);
    --text-comment: rgb(170, 170, 170);
    --text-high-contrast: rgb(230, 230, 230);
    --text-medium-contrast: rgb(202, 202, 202);
    --text-low-contrast: rgb(170, 170, 170);
    --detail-high-contrast: rgb(101, 101, 101);
    --detail-medium-contrast: rgb(25, 25, 25);
    --detail-low-contrast: rgb(21, 21, 21);
    --admonition-note: rgb(138, 180, 248);
    --admonition-warning: rgb(253, 186, 116);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 138, 180, 248;
    --brand-secondary-rgb-value: 193, 168, 226;
    --brand-alternative-rgb-value: 136, 186, 191;
    --background-site-rgb-value: 0, 0, 0;
    --background-code-rgb-value: 12, 12, 12;
    --text-body-rgb-value: 222, 222, 222;
    --text-comment-rgb-value: 170, 170, 170;
    --text-high-contrast-rgb-value: 230, 230, 230;
    --text-medium-contrast-rgb-value: 202, 202, 202;
    --text-low-contrast-rgb-value: 170, 170, 170;
    --detail-high-contrast-rgb-value: 101, 101, 101;
    --detail-medium-contrast-rgb-value: 25, 25, 25;
    --detail-low-contrast-rgb-value: 21, 21, 21;
    --admonition-note-rgb-value: 138, 180, 248;
    --admonition-warning-rgb-value: 253, 186, 116;
    --admonition-danger-rgb-value: 220, 38, 38;
}