* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

h1, h2 {
    font-family: Georgia;
}


body::-webkit-scrollbar {
  display: none;
}
/*
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*/

.icon{
   height: 2.5rem;
   margin-right: 1em;
}

.health-stat-container{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1em;
    padding-inline: 0.5em;
    font-weight: bolder;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.site-wrapper main {
    /* max-width: 1440px;*/
    width: 100%;
    margin: 0 auto;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

.site-logo {
    color: #01513C;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-shadow: 3px 3px pink;
}

header a {
    text-decoration: none;
    color: rgb(1, 81, 60);
    font-weight: 600;
    padding: 5px 20px;
}


header a:hover {
    color: rgb(1, 81, 60);
}

.donate-button{
    background-color: #468457;
    border-radius: 1em;
    color: white;
    margin-right: 1em;
    padding: 0.75em 1em;

}

.donate-button:hover {
    display: inline-block;
    text-decoration: unset;
    color: white;
    background-color: #66529A;
    transform: scale(1.02);
}


/* mobile menu */
.mobile-menu-toggle {
    display: none;    
}

@media (max-width: 768px){

    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* adjust as needed */
        right: 10px;
        background: white;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        z-index: 10;
    }

    .mobile-menu.open{
        display: flex;
    }
}
/* end of mobile menu */

.link-button {
    display: inline-block;
    text-align: center;
    border: none;
    padding: .75rem 1.375rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

/*** HOME PAGE ***/
.home-page-wrapper h1{
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-family: Georgia;
    line-height: 1.2;
}

.home-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 30%), url("./assets/images/home-hero.jpg") no-repeat center 15% / cover;
    background-size: cover;
    min-height: 550px;
    color: white;
    padding: 45px 1.75em;
}

.home-hero-container p {
    line-height: 24px;
}

.home-hero-container a {
    display: inline-block;
    align-self: center;
    text-align: center;
    text-decoration: none;
    background-color: #96A547;
    border: none;
    width: 50%;
    max-width: 400px;
    margin-top: 4em;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-hero-container a:hover {
    transform: translate(1px, 1px);
}

.home-about-container{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.home-about-container p{
    font-size: 1.25em;
    font-weight: 100;
}

.home-about-container a{
    border: 1px solid rgb(167, 21, 21);
    color: rgb(167, 21, 21);
    font-weight: 600;
}

@media (min-width: 1024px){
    .home-stats-flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4em 0 12em;
        margin: 0 auto;
      }
      
      .home-stats-flex-wrapper > div {
        position: relative;
        flex: 1;
        text-align: center;
        padding: 0 20px;
      }
      
      /* Add dividers to all but the last div */
      .home-stats-flex-wrapper > div:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        width: 1px;
        background-color: white; /* Light gray divider */
      }
}

.home-stats-container{
    color: white;
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #01513C, #66529A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #01513C, #66529A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background-image: linear-gradient( 135deg, #EEAD92 10%, #6018DC 100%);*/
    text-align: center;
}

.home-stats-container > h2{
    margin: 0;
    padding: 3em;
}

.home-stats-flex-wrapper > div > div:first-child{
    font-size: 4rem;
    line-height: 5rem;
}
/*
.home-donation-container{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.home-donation-container p{
    font-size: 1.25em;
    font-weight: 100;
}

.home-donation-container a{
    border: 1px solid #a71515;
    color: #a71515;
    font-weight: 600;
}
*/

.home-donation-container a{
    color: rgb(167, 21, 21);
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

@media (min-width:1024px){
    .home-donation-flex-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding-top: 5em;
        padding-bottom: 5em;
        margin: 0 auto;
        max-width: 1000px;
        gap: 1em
    }

    .home-donation-flex-wrapper > div:first-child img {
        height: 8em;
    }
}

.home-spotlight{
    display: flex;
}

.home-spotlight-left{
    background-color: #1A517B;
    color: white;
    padding: 4em 8em;
    width: 50%;
    box-sizing: border-box;
}

.home-spotlight-left p{
    font-size: 1.15em;
    font-weight: 200;
    line-height: 1.5;
}

.home-spotlight-left a{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.home-spotlight-divider{
  display: block;
  margin: 2em auto 2em 0;
  border-style: solid;
  border-width: 3px;
  width: 12em;
  color: white;
}

.home-spotlight img {
    width: 50%; /* Make image take exactly half */
    height: 100%; /* Make image fill full height */
    object-fit: cover; /* This is key - maintains aspect ratio while filling space */
    object-position: center; /* Centers the image in its container */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    display: block; /* Removes any default inline spacing */
  }

/*** ABOUT PAGE ***/
.about-hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 30%), url("./assets/images/about-hero.jpg") no-repeat center 15% / cover;
    background-size: cover;
    min-height: 430px;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
} 

/*** ANIMALS PAGE ***/
.animal-list-container{
    padding-inline: 1.5em;
    padding-bottom: 2em;
}

.animal-list-container img{
    border-radius: 5px;
}

.animal-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: dense;
}





.animal-list-filter-buttons {
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.animal-list-filter-buttons button{
    margin-right:1em;
    font-size: 1em;
    padding: .5em 1em;
    cursor: pointer;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.animal-type{
    padding: 0.3em 0.6em;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
}


.animal-tile img {
    max-width: 100%;
}

/*** ANIMAL DETAILS PAGE ***/
/*Option 1*/

.animal-details-wrapper{
    display: flex;
    justify-content: start;
    gap: 3em;
    background-color: rgb(252, 209, 216);
    color: rgb(255, 255, 255);
    padding: 5em 2.5em;
    margin: 1em 1.25em;
    border-radius: 15px;
}

.animal-details-hero img{
    border-radius: 15px;
}

.animal-details-info {
    max-width: 750px;
}

.animal-details-info h1 {
    margin-top: 0;
    font-size: 2em;
    text-shadow: 3px 3px rgb(1, 81, 60);
}

.animal-details-info nav{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.animal-details-info nav a{
    margin-right: 0.5em;
}

.animal-details-info p {
    line-height: 1.5;
    font-size: 1.2em;
}

.animal-details-info button{
    font-size: 1em;
    background-color: rgb(150, 143, 44);
    border: none;
    border-radius: 1em;
    color: white;
    padding: 0.5em;
    box-shadow: 5px 5px rgb(1, 81, 60);
}


/*Option 2*/
/*
.animal-details-wrapper{
    display: flex;
    justify-content: start;
    gap: 3em;
    color: rgb(1, 81, 60);
    padding: 2.5em 2.5em;
    margin: 1em 2em;
    border: 2px solid rgb(1, 81, 60);
    background-color: white;
    border-radius: 1em;
    box-shadow: 1em 1em rgb(1, 81, 60);
}

.animal-details-header{
    flex-direction: row;
    font-size: 2em;
}

.animal-details-hero img{
    border-radius: 5px;
    border: 1px solid rgb(1, 81, 60);
    border-radius: 1em;
}

.animal-details-info nav{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    border-bottom: 0.1em solid rgb(1, 81, 60);
}

.animal-details-info nav a{
    margin-right: 2.5em;
}

.animal-details-info button{
    font-size: 1em;
    background-color: rgb(1, 81, 60);
    border: none;
    border-radius: 1em;
    color: white;
    padding: 0.5em;
}
*/
/*** FOSTER PARENTS PORTAL ***/
/*login page*/
.login-page-container{
    display: flex;
    /*border: solid red;*/
    max-width: 1400px;
}

.login-page-left, .login-page-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.login-page-left{
    padding-left: 8em;
}

.login-page-left h1{
    font-size: 4em;
    color: rgb(1, 81, 60);
    margin-bottom: 0;
}

.login-page-right{
    align-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(1, 81, 60);
    background-color: white;
    padding: 8em 5em;
    border-radius: 1em;
    box-shadow: 1em 1em rgb(1, 81, 60);
}

.login-form h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 2em;
    color: rgb(1, 81, 60);
}

.login-form label{
    display: block;
    color: rgb(1, 81, 60);
    font-weight: bold;
}

.login-form input{
    display: block;
    margin-bottom: 2em;
    border-radius: 2px;
    font-size: 1em;
    color: rgb(1, 81, 60);
    border: solid rgb(1, 81, 60);
    width: 30em;
    padding: 0.25em;
}

.login-form button{
    font-size: 1em;
    width: 33%;
    padding: 0.5em;
    background-color: rgb(1, 81, 60);
    color: white;
    border-radius: 1em;
    border: none;
}

/*foster parents portal*/
.portal-nav{
    display: flex;
    margin-bottom: 0.5em;
}

.portal-nav a{
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 0.3em 1.25em;
}

.portal-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.adoptees-wrapper{
    padding-inline: 1.5em;
}

.adoptees-tile{
    display: flex;
    padding: 1.25em 2em;
    margin-bottom: 2em;
    background-color: rgb(233, 215, 215);
    border-radius: 5px;
}

.adoptees-tile img{
    border-radius: 5px;
}

.adoptees-tile-text{
    padding-inline: 1.5em;
}

#adoptee-details-back-button{
    display: block;
    margin-left: 1.25em;
    padding-top: 2em;
}

.adoptee-details-wrapper{
    background-color: rgba(55, 53, 53, 0.29);
    padding: 2em;
    margin: 1em 1.25em;
    border-radius: 5px;
}

.adoptee-details-hero{
    display: flex;
}

.adoptee-details-hero img{
    border-radius: 5px;
}

.adoptee-details-hero div{
    padding-inline: 1.25em;
}

.adoptee-details-hero h2{
    margin-top: 0;
}

.adoptee-details-wrapper a{
    display: inline-block;
    padding: 1.5em 1em 0 0;
}

.outlet-container{
    background-color: #ff416c;
}


/*** DONATION PAGE ***/
.donate-page-wrapper{
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5em;
    margin-top: 3em;
    max-width: 1400px;
}

.donate-content-container{
    width: 60%;
    padding-right: 2em;
}

.donate-page-header{

    font-size: 3em;
    color: rgb(1, 81, 60);
    margin: 0 auto 0.25em;
    font-weight: 900;
}

.donate-content-container img{
    width: 100%;
    border-radius: 1em;
    margin-bottom: 3em;
}

.donate-content-container h2{
    font-size: 2em;
    margin: 0;
    color: rgb(1, 81, 60);
}

.donate-content-container p{
    font-size: 1.25em;
    line-height: 1.33;
}

.donate-content-container p span{
    font-weight: bold;
}

.donation-form {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #e9e4d8;
    max-width: 500px;
  }
  
.frequency-toggle-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    gap: 1em;
}
  
.frequency-toggle-container button {
    flex: 1;
    padding: 0.75em 1.5em;
    border: none;
    background: #ccc;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 1rem;
}
  
.frequency-toggle-container button.active {
    background: rgb(1, 81, 60);
}
  
.amount-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 2em;
}
  
.amount-options button {
    flex: 0 0 30%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    font-size: 1.25em;
}
  
.amount-options button.active {
    border: 2px solid rgb(1, 81, 60);;
    background-color: #e0f2f1;
}

.dollar-input-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    background: white;
}

.dollar-input-container:focus-within{
    border: 2px solid rgb(1, 81, 60);;
    background-color: #e0f2f1;
}

.dollar-input-container input:focus{
    background-color: #e0f2f1;
}
  
.dollar-sign {
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}

.other-amount-input{
    border: none;
    outline: none;
    font-size: 1.25em;
}

.other-amount-input::-webkit-inner-spin-button,
.other-amount-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.other-amount-input[type="number"] {
    -moz-appearance: textfield;
}

.border{
    border-left:1px solid #e2e2e2;
}
  
.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 1.5em;
}
  
.card-element-wrapper {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 1rem;
    background-color: white;
}
  
.donation-submit-button {
    width: 100%;
    padding: 12px;
    background-color: rgb(1, 81, 60);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-size: 1.5em;
}
  
.submit-button:disabled {
    background-color: #aaa;
}
  
.status-message {
    text-align: center;
    margin-top: 1rem;
    color: red;
}
  